<!DOCTYPE html>

<html>
  <head>
    <title>Request Header Parser</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <script type="text/javascript">
    let response;
    function fetchData() {
      fetch("/api/whoami")
        .then((res) => res.json())
        .then((data) => {
          document.getElementById("ip").innerText = "IP: " + data.ip;
          document.getElementById("lang").innerText = "Languages: " + data.lang;
          document.getElementById("soft").innerText =
            "Software: " + data.software;
          console.log(data);
        });
    }
  </script>

  <body>
    <div class="container">
      <h2>API Project: Request Header Parser Microservice</h2>
      <h3>
        <p>
          Click the button below to know the information provided by you through
          a single click
        </p>

        <form>
          <button type="button" onclick="fetchData()">Click Me!</button>
        </form>
      </h3>
    </div>
    <div class="footer">
      <p>by <a href="https://www.freecodecamp.org">freeCodeCamp</a></p>
    </div>
    <div>
      <h2>Information provided by you through a single click:</h2>
      <h3 id="ip"></h3>
      <h3 id="lang"></h3>
      <h3 id="soft"></h3>
    </div>
  </body>
</html>
